body {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
   
    width: 600px;
    height:400px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: center;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgb(0 0 0 / 20%);
    background: #1B244A;
    color: #EEEEEE;
    
}

h3 {
    margin-bottom: 15px;
}

.score-btn {
    font-family: 'Orbitron', sans-serif;
    font-size:70px;
    text-align: center;
    color: #F94F6D;
    background: #080001;
    border:none;
    border-radius: 8px;
    width: 155px;
    height: 120px;          
    }

.points-home {
    font-size: 18px;
    color: #9AABD8;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    background: transparent;
}

.points-guest {
    font-size: 18px;
    color: #9AABD8;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    background: transparent;
}

    
.game {
    flex-basis:100%;
    }
    
.new-game-btn {
    background: #9AABD8;
    color: white;
    font-size: 30px;
    padding: 8px 40px;
    border:none;
    border-radius: 25px; 
    }
    
.new-game-btn:hover {
    background: white;
    color: #9AABD8;
}
